<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Профиль
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Создать пользователя</a></li>
        <li>
            <button class="dropdown-item">Редактировать пользователя
            </button>
        </li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#logoutModal">Выйти</button>
        </li>
    </ul>
</li>

<app-logout-modal></app-logout-modal>