<ng-container *ngIf="users$ | async as users">
    <div class="card">
        <div class="card-header d-flex justify-content-center mb-3">
            <h3 class="h3">Список</h3>
        </div>
        <div class="card-body p-3 d-flex flex-column gap-3">
            @if (users.length) {
            <form class="d-flex flex-column" role="search" [formGroup]="form">
                <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search"
                    formControlName="search">

            </form>

            <div class="btn-group" role="group" aria-label="Users radio toggle button group">
                <input type="radio" class="btn-check" name="btn-radio" id="created-at-asc" autocomplete="off" checked
                    (change)="onSelectCreatedAtAsc()">
                <label class="btn btn-outline-primary" for="created-at-asc">Сначала старые</label>

                <input type="radio" class="btn-check" name="btn-radio" id="created-at-desc" autocomplete="off"
                    (change)="onSelectCreatedAtDesc()">
                <label class="btn btn-outline-primary" for="created-at-desc">Сначала новые</label>
            </div>
            }
            @if (searchPending) {
            <div class="d-flex justify-content-center"><app-spinner [color]="spinnerColor" /></div>
            }
            @if(users.length === 0) {
            <div class="d-flex justify-content-center ">
                <h6>Пусто!</h6>
            </div>
            }
            @else {
            @if (!searchMode) {
            <ng-container *ngFor="let user of users">
                <ng-container *ngTemplateOutlet="userListItem; context: { $implicit: user }"></ng-container>
            </ng-container>
            }
            @else {
            <ng-container *ngFor="let userSearch of searchResults">
                <ng-container *ngTemplateOutlet="userListItem; context: { $implicit: userSearch }"></ng-container>
            </ng-container>
            }
            }
        </div>
        @if (users.length !== 0 && !searchMode) {
        <div class="card-footer">
            <app-users-pagination [sortKey]="selectedSortKey" />
        </div>
        }
    </div>
</ng-container>


<ng-template #userListItem let-usr>
    <div class="card border-black long-text">
        <div class="card-header d-flex justify-content-between">
            <h6 class="h6">{{usr.name}} {{usr.surname}}</h6>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between">id: {{ usr.id || 'Не указан'}}
                    <button class="btn btn-outline-primary btn-sm" aria-label="Скопировать ID"
                        [ngbTooltip]="'Скопировать ID'" placement="bottom" (click)="copyToClipboard(usr.id)"><i
                            class="bi bi-copy "></i></button>
                </li>
                <li class="list-group-item">Email: {{ usr.email || 'Не указан'}}</li>
                <li class="list-group-item">Авторизация: {{ usr.provider || 'Не указан'}}</li>
                <li class="list-group-item">Дата создания: {{ (usr.createdAt | date: 'HH:mm dd.MM.yyyy') || 'Не
                    указана'}}</li>
                <li class="list-group-item">Дата обновления: {{ (usr.updatedAt | date: 'HH:mm dd.MM.yyyy') || 'Не
                    указана'}}</li>
                <li class="list-group-item">Номер телефона: {{ usr.phone_number || 'Не указан'}}</li>
                <li class="list-group-item">Количество подключений: {{usr.tokensCount || 0}}</li>
                <li class="list-group-item" [ngClass]="{ 'text-primary': usr.roles.includes(adminRole)}">
                    Роли: {{ usr.roles
                    || 'Не указан'}}</li>
                <li class="list-group-item"
                    [ngClass]="{ 'text-success': usr.activated, 'text-danger': !usr.activated }">{{usr.activated ?
                    'Активирован' : 'Не активирован'}}</li>
            </ul>
            <div *ngIf="!usr.roles.includes(adminRole)" class="d-flex justify-content-end gap-3 mt-3">
                <div class="d-flex gap-3">
                    @if (usr.isBlocked) {
                    <button class="btn btn-success" data-bs-toggle="modal" [ngbTooltip]="'Разблокировать'"
                        placement="top" aria-label="Разблокировать" data-bs-target="#unblockUserModal"
                        (click)="onSelectUser(usr)"><i class="bi bi-ban"></i></button>
                    }
                    @else {
                    <button class="btn btn-danger" data-bs-toggle="modal" [ngbTooltip]="'Заблокировать'" placement="top"
                        aria-label="Заблокировать" data-bs-target="#blockUserModal" (click)="onSelectUser(usr)"><i
                            class="bi bi-ban"></i></button>
                    }
                </div>

                <button class="btn btn-danger" data-bs-toggle="modal" [ngbTooltip]="'Удалить'" placement="top"
                    aria-label="Удалить" data-bs-target="#deleteUserModal" (click)="onSelectUser(usr)"><i
                        class="bi bi-trash"></i></button>
            </div>
        </div>
    </div>
</ng-template>

<app-block-user-modal [user]="selectedUser " />
<app-unblock-user-modal [user]="selectedUser" />
<app-delete-user [user]="selectedUser" />
<app-toast #toast></app-toast>