<div class="card border-light d-flex flex-column gap-3">
    <form class="d-flex flex-column" role="search" [formGroup]="form">
        <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search" formControlName="search">
    </form>
    @if (searchPending) {
    <div class="d-flex justify-content-center"><app-spinner [color]="spinnerColor" /></div>
    }
    @if (!searchMode) {
    <ng-container *ngIf="categories$ | async as categories">
        <ng-container *ngFor="let category of categories">
            <ng-container *ngTemplateOutlet="categoryListItem; context: { $implicit: category }"></ng-container>
        </ng-container>
    </ng-container>
    } @else {
    <ng-container *ngIf="searchResults">
        <ng-container *ngFor="let category of searchResults">
            <ng-container *ngTemplateOutlet="categoryListItem; context: { $implicit: category }"></ng-container>
        </ng-container>
    </ng-container>
    }


</div>

<ng-template #categoryListItem let-category>
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <h4 class="h4">{{ category.name }}</h4>
            <h6 class="h6">id: {{ category.id }}</h6>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Цвет: {{ category.color || 'Не указан'}}</li>
                <li class="list-group-item">Дата создания: {{ category.createdAt | date: 'HH:mm dd.MM.yyyy' }}
                </li>
                <li class="list-group-item">Дата обновления: {{ category.updatedAt | date: 'HH:mm dd.MM.yyyy' }}</li>
            </ul>
            <div class="d-flex justify-content-end gap-2">
                <button class="btn btn-primary" data-bs-toggle="modal" aria-label="Изменить" [ngbTooltip]="'Изменить'"
                    placement="bottom" data-bs-target="#updateCategoryModal" (click)="onChangeButtonClick(category)"><i
                        class="bi bi-pencil-square"></i></button>
                <app-update-category-modal [category]="selectedCategory || category" />
                <button class="btn btn-danger" data-bs-toggle="modal" aria-label="Удалить" [ngbTooltip]="'Удалить'"
                    placement="bottom" data-bs-target="#deleteCategoryModal" (click)="onDeleteButtonClick(category)"><i
                        class="bi bi-trash"></i></button>
                <app-delete-category-modal [category]="selectedCategory || category" />
            </div>
        </div>
    </div>
</ng-template>

<app-toast #toast></app-toast>