<div class="card">
    <div class="card-header text-center d-flex justify-content-center">
        <h2 class="h2">Опции</h2>
    </div>
    <div class="card-body">
        <div class="alert alert-success d-flex align-items-center" role="alert">
            <i class="bi bi-info-circle flex-shrink-0 me-2"></i>
            Вы можете открыть карту, чтобы посмотреть все происшествия.
        </div>
        <div class="d-flex justify-content-evenly" role=" group" aria-label="Опции">
            <button class="btn btn-success" type="button" [ngbTooltip]="'Открыть карту'" placement="bottom"
                aria-label="Открыть карту" [routerLink]="['/map']">
                <i class="bi bi-pin-map"></i>
            </button>

        </div>
    </div>
</div>
