<div class="card">
    <div class="card-header text-center d-flex justify-content-center">
        <h2 class="h2">Опции</h2>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <!-- <p class="h5">Всего категорий: {{categoriesCount}}</p> -->
            </li>
        </ul>
        <!-- <app-stats-table [stats]="stats" /> -->
    </div>
    <div class="card-footer d-flex justify-content-end">
        <a class="btn btn-success" title="Открыть карту" aria-label="Открыть карту" [routerLink]="['/map']">
            <i class="bi bi-pin-map"></i>
        </a>
    </div>
</div>

<!-- <app-toast #toast></app-toast> -->