<nav class="d-flex mt-2 mb-2 justify-content-center" aria-label="Users pagination">
        @if (pending) {
        <div class="d-flex justify-content-center"><app-spinner [color]="spinnerColor" /></div>
        }
        @else {
        <ul class="pagination mb-0">
                <li class="page-item"><button class="page-link" (click)="goToPreviousPage()"
                                [disabled]="activePage <= 1">Назад</button></li>

                <ng-container *ngIf="total > 0 ">

                        <li *ngIf="activePage > 1" class="page-item"><button class="page-link"
                                        (click)="handlePageClick(activePage - 1)">{{activePage - 1}}</button></li>

                        <li class="page-item"><button class="page-link active"
                                        (click)="handlePageClick(activePage)">{{activePage}}</button></li>

                        <li *ngIf="activePage * limit < total" class="page-item"><button class="page-link"
                                        (click)="handlePageClick(activePage + 1)">{{activePage + 1}}</button></li>

                </ng-container>


                <li class="page-item"><button class="page-link" [disabled]="activePage * limit >= total"
                                (click)="goToNextPage()">Далее</button></li>
        </ul>
        }

</nav>

<app-toast #toast></app-toast>