<section class="row" style="width: 300px;">
    <form class="col card" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="text-center mb-4">
            <h1>Incidents</h1>
        </div>
        <div class="mb-3">
            <label for="inputName" class="form-label">Имя</label>
            <input type="text" class="form-control" id="inputName" formControlName="name" 
                required />
            <ng-container *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
                <div class="text-danger">Минимальная длина имени 3 символа</div>
            </ng-container>
        </div>

        <div class="mb-3">
            <label for="inputSurname" class="form-label">Фамилия</label>
            <input type="text" class="form-control" id="inputSurname" formControlName="surname" 
                required />
            <ng-container *ngIf="form.get('surname')?.invalid && form.get('surname')?.touched">
                <div class="text-danger">Минимальная длина фамилии 3 символа</div>
            </ng-container>
        </div>

        <div class="mb-3">
            <label for="inputPassword" class="form-label">Пароль</label>
            <input type="password" class="form-control" id="inputPassword" formControlName="password" required>
            <ng-container *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
                <div class="text-danger">Минимальная длина пароля 8 символов</div>
            </ng-container>
        </div>

        <div class="mb-3 text-center">
            @if (!isSubmitting) {
                <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Войти</button>
            } 
            @else {
                <app-spinner></app-spinner>
            }
        </div>
    </form>
</section>

<app-toast #toast></app-toast>
