<div class="card">
    <div class="card-header text-center">
        <h2 class="h2">Создание категории</h2>
    </div>
    <div class="card-body">
        <form>
            <div class="mb-3">
                <label for="inpCatName" class="form-label">Название</label>
                <input type="text" required class="form-control" id="inpCatName" aria-describedby="inpCatName">
            </div>
            <div class="mb-3">
                <label for="inpCatColor" class="form-label">Цвет</label>
                <input type="text" class="form-control" id="inpCatColor" aria-describedby="inpCatColorHelp">
                <div id="inpCatColorHelp" class="form-text">Наименование цвета. Пример: red.</div>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success">Создать</button>
            </div>
        </form>
    </div>

</div>