<div class="modal fade" id="blockUserModal" tabindex="-1" aria-labelledby="blockUserModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered ">
        <div class="modal-content bg-light border-black">
            <div class="modal-header">
                <h4 class="modal-title fs-5 long-text" id="blockUserModalLabel">Вы уверены, что хотите заблокировать
                    выбранного пользователя?</h4>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-center">
                    <div class="d-flex gap-3">
                        @if (!submitting) {
                        <button type="button" class="btn btn-danger" (click)="onBLock()"
                            data-bs-dismiss="modal">Да</button>
                        }
                        @else {
                        <app-spinner [color]="spinnerColor"></app-spinner>
                        }
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Нет</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-toast #toast></app-toast>