<div class="card">
    <div class="card-header text-center d-flex justify-content-center">
        <h2 class="h2">Статистика</h2>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <p *ngIf="withCategoriesTotal" class="h5">Всего категорий: {{categoriesCount}}</p>
                <p *ngIf="withPointsTotal" class="h5">Всего происшествий: {{pointsCount}}</p>
            </li>
        </ul>
        <app-incidents-stats-table [stats]="stats" />
    </div>
    <div class="card-footer d-flex justify-content-end">
        <button class="btn btn-secondary" [ngbTooltip]="'Обновить'" placement="bottom" (click)="onRefreshClick()">
            <i class="bi bi-arrow-counterclockwise"></i>
        </button>
    </div>
</div>

<app-toast #toast></app-toast>