<div class="offcanvas offcanvas-start sidebar h-100" tabindex="-1" id="staticBackdrop"
    aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="staticBackdropLabel">Меню</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
    </div>
    <hr>
    <div class="offcanvas-body">
        <ul class="nav flex-column">
            <li class="nav-item">
                <button class="nav-link" aria-label="Категории" data-bs-dismiss="offcanvas"
                    (click)="selectCategoriesSection()" [ngClass]="{ 'text-dark': isCategoriesActive() }">
                    <i class="bi bi-tags"></i> Категории
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link" data-bs-dismiss="offcanvas" aria-label="Пользователи"
                    (click)="selectUsersSection()" [ngClass]="{ 'text-dark': isUsersActive() }">
                    <i class="bi bi-people"></i> Пользователи
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link" data-bs-dismiss="offcanvas" aria-label="Точки" (click)="selectPointsSection()"
                    [ngClass]="{ 'text-dark': isPointsActive() }">
                    <i class="bi bi-geo-alt"></i> Точки
                </button>
            </li>
        </ul>
    </div>
</div>

<button type="button" class="btn btn-primary rounded-circle position-fixed bottom-0 end-0 m-3"
    data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop"
    style="width: 60px; height: 60px;">
    <i class="bi bi-list" style="font-size: 24px;"></i>
</button>