<div class="offcanvas offcanvas-start sidebar h-100" tabindex="-1" id="staticBackdrop"
    aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="staticBackdropLabel">Меню</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <hr>
    <div class="offcanvas-body">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" routerLink="/panel/categories">
                    <i class="bi bi-tags"></i> Категории
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/panel/users">
                    <i class="bi bi-people"></i> Пользователи
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/panel/points">
                    <i class="bi bi-geo-alt"></i> Точки
                </a>
            </li>
        </ul>
    </div>
</div>

<button type="button" class="btn btn-primary rounded-circle position-fixed bottom-0 end-0 m-3"
    data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop"
    style="width: 60px; height: 60px;">
    <i class="bi bi-list" style="font-size: 24px;"></i>
</button>